#port-box {
	float: right;
	width: 200px;
	border: 1px solid black;
	border-collapse: collapse;
}

#stat-box{
	width: 250px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}


#portrait {
	height: 250px;
	width: 200px;


}

.stat-name{
	width: 50%;
}

