---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


{% include biography.css %}



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ccc;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;




li.arch-post {
	list-style: none	!important;
}

li.snips-post {
	list-style: none	!important;
}

li.entertainment-post {
	list-style: none	!important;
}

.book-quote{
	font-size: .8em;
}

#ff_table {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: #ccc;
}

#ff_table td {
	border:	1px solid black;
	background-color: #eee;
}

#ff_table th {
	border: 1px solid black;
	background-color: #ddd;
}

#rm_table {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: #ccc;
}

#rm_table td {
	border:	1px solid black;
	background-color: #eee;
}

#rm_table th {
	border: 1px solid black;
	background-color: #ddd;
}

#lol_table {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: #ccc;
}

#lol_table td {
	border:	1px solid black;
	background-color: #eee;
}

#lol_table th {
	border: 1px solid black;
	background-color: #ddd;
}

.champ_title {
	font-size: .9em;
	font-style:	italic;
}

.champ_lg_name {
	font-size: 1.15em;
}

.champ_name {
	padding: 2px;
	padding-left: 5px;
}


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
