---
layout: eatsleepdo
title: "Recipes"
permalink: /recipe/
---

<html>
<head>
<meta charset="utf-8">
</head>

<body>

<p>It so happens you have to eat to live. Here are a smattering of my exercises. These are listed in alphabetical order so you can find similar recipes grouped together. ♫♫ indicates that a post has open comments.</p>
<div id="esd-list">


<ul>
    {% assign alpha = site.posts | sort:"title" %}
	{% for post in alpha %}
        {% if post.url %}
			{% if post.category == "recipe" %}

		        <li class="esd-post">
				<div class="esd-link-box"><a class="esd-link-txt" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 37 }}</a></div>


				{% if post.thumbnail_id %}
				<div class="esd-tb">
				<img src="{{ site.url }}/assets/tb/{{post.thumbnail_id}}" alt="" class="esd-tb-img">
				</div>
				{% endif %}


				<div class="esd-desc">
					<span class="esd-tags">{{post.tags | array_to_sentence_string}}</span><br/>
					{{post.description}} {% if post.comments_id %}<span class="arch-comments-notify">♫♫</span>{% endif %}
				</div>

		
				<span class="esd-date">
				<span id="dayname-cn">
				{% assign day = post.date | date: "%w" %}
				{% case day %}
				{% when '0' %}周日
				{% when '1' %}周一
				{% when '2' %}周二
				{% when '3' %}周三
				{% when '4' %}周四
				{% when '5' %}周五
				{% else %}周六
				{% endcase %}</span>

				{{post.date | date: "%d %b, %Y"}}</span></li>


			{% else %}	
			{% endif %}
		{% else %}
        {% endif %}
    {% endfor %}
</ul>

</div>



</body>
</html>
