---
layout: archive
title: "/archive"
menu: main
permalink: /archive/ 
---

<html>
<head>
<meta charset="utf-8">
</head>

<body>
<p>The archive is the list of active posts listed chronologically. ♫♫ indicates that a post has open comments.</p>

<div id="arch-list">
{% for post in site.posts %}
{% if post.url %}
{% if post.category != "old" %}


	<li class="arch-post">
	<div class="arch-link-box"><a class="arch-link-txt" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 31 }}</a></div>
	
    <p class="arch-cata">/{{post.category}}/</p>

    {% if post.description == "" %}
	{% else %}<br>

    <div class="arch-desc">{{post.description}} {% if post.comments_id %}<span class="arch-comments-notify">♫♫</span>{% endif %}</div>
    {% endif %}

    <div class="arch-tags">
    {{post.tags | array_to_sentence_string}}</div>
   

    <span class="arch-date">
    <span id="dayname-cn">
    {% assign day = post.date | date: "%w" %}
    {% case day %}
    {% when '0' %}周日
    {% when '1' %}周一
    {% when '2' %}周二
    {% when '3' %}周三
    {% when '4' %}周四
    {% when '5' %}周五
    {% else %}周六
    {% endcase %}</span>

{{post.date | date: "%d %b, %Y"}}


</span>
	</li>
	
{% endif %}	
{% endif %}
{% endfor %}
</div>



</body>
</html>
