body {
	background-color: #ccc;
}

h1{

}

.archive-title {
    font-size: 3em;
    letter-spacing: -0.05em;
	text-align: center;
} 

.arch-desc{
	font-style: italic;
	font-size: .8em;
	padding-left: 96px;
}

.arch-post{
	padding-bottom: 3px;
}

@media (max-width: 600px){
#wrapper {
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

}
