---
layout: calligraphy
title: Calligraphy
menu: main
permalink: /calligraphy 
---

<html>
<head>
<meta charset="utf-8">
</head>

<body>

<p>Wordplay, analog as well as digital.</p>
<div id="callig-list">
{% for post in site.posts %}
	{% if post.url %}
		{% if post.category == "calligraphy" %}
					<li class="callig-post">
					<div class="callig-link-box"><a class="callig-link-txt" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 31 }}</a></div>

					{% if post.description == "" %}
					{% else %}<br>

					<div class="callig-desc">{{post.description}}</div>
					{% endif %}

					<div class="callig-tags">
					{{post.tags | array_to_sentence_string}}</div>
				   

					<span class="callig-date">
					<span id="dayname-cn">
					{% assign day = post.date | date: "%w" %}
					{% case day %}
					{% when '0' %}周日
					{% when '1' %}周一
					{% when '2' %}周二
					{% when '3' %}周三
					{% when '4' %}周四
					{% when '5' %}周五
					{% else %}周六
					{% endcase %}</span>

				{{post.date | date: "%d %b, %Y"}}


				</span>
					</li>
		{% endif %}
	{% endif %}
{% endfor %}
</div>



</body>
</html>
