---
layout: page
title: Canon Ten
menu: main 
permalink: /canon
---

<head>
<meta charset="utf-8">
</head>

<div id="canon-intro">
<p class="canon-intro-p">Coming soon: a list of Media-creators/channels I've given honors. I trust these creators to put out quality content that I like. I probably haven't seen *every* video, so, with expected reservations, I endorse these people. Their content may discuss works owned by others but the commentary is free for anyone to view. Listed in alphabetical order.</p>

</div>

<div id="canon-list-wrapper">

{% for award in site.data.canon.awards %}
<ul class="canon-list-current">

	<li class="canon-list-name"><span class="canon-list-nametext">{{ award.name }}</span>&nbsp;-&nbsp;<a href="{{ award.linkyt }}">YT</a>&nbsp;{% if award.link != "" %}<a href="{{ award.link }}">(else)</a>{% endif %}</li> 
	
	<li class="canon-list-desc-shrt"><i>[ {{ award.desc-shrt }} ]</i></li>

	<li class="canon-list-desc-long"><p>{{ award.desc-long }}</p></li>

	<li class="canon-list-date-lstcheck">updated[{{ award.last-checked }}]</li>

</ul>
{% endfor %}

</div>
