---
layout: chronological
title: "/chronological"
permalink: /chronological/ 
---

<html>
<head>
<meta charset="utf-8">
</head>

<body>
<p>This is a list of many active posts listed chronologically.</p>

<div id="chron-list">
{% for post in site.posts %}
{% if post.url %}
{% if post.category != "old" %}
{% if post.category != "calligraphy" %}
{% if post.category != "hexfiles" %}
{% if post.category != "fpmcnotes" %}


	<li class="chron-post">
	<div class="chron-link-box"><a class="chron-link-txt" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 31 }}</a></div>
	
    <p class="chron-cata">/{{post.category}}/</p>

    {% if post.description == "" %}
	{% else %}<br>

    <div class="chron-desc">{{post.description}}</div>
    {% endif %}

    <div class="chron-tags">
    {{post.tags | array_to_sentence_string}}</div>
   

    <span class="chron-date">
    <span id="dayname-cn">
    {% assign day = post.date | date: "%w" %}
    {% case day %}
    {% when '0' %}周日
    {% when '1' %}周一
    {% when '2' %}周二
    {% when '3' %}周三
    {% when '4' %}周四
    {% when '5' %}周五
    {% else %}周六
    {% endcase %}</span>

	{{post.date | date: "%d %b, %Y"}}
	</span>
	
	</li>
	
{% endif %}	
{% endif %}	
{% endif %}	
{% endif %}
{% endif %}
{% endfor %}
</div>



</body>
</html>
