---
layout: femputermanchine
title: "FP & MC"
menu: main
permalink: /femputermanchine/ 
---

<html>
<head>
<meta charset="utf-8">
</head>

<body>

<p>If you live in the prime material plane, you might understand some of this. ♫♫ indicates that a post has open comments.</p>
<div id="fpmc-list">
{% for post in site.posts %}
	{% if post.url %}
		{% if post.category == "femputermanchine" %}
					<li class="fpmc-post">
					<div class="fpmc-link-box"><a class="fpmc-link-txt" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 31 }}</a></div>
					
					{% if post.thumbnail_id %}
					<div class="fpmc-tb">
					<img src="{{ site.url }}/assets/tb/{{post.thumbnail_id}}" alt="" class="fpmc-tb-img">
					</div>
					{% endif %}

					{% if post.description == "" %}
					{% else %}<br>

					<div class="fpmc-desc">{{post.description}} {% if post.comments_id %}<span class="arch-comments-notify">♫♫</span>{% endif %}</div>
					{% endif %}

					<div class="fpmc-tags">
					{{post.tags | array_to_sentence_string}}</div>
				   

					<span class="fpmc-date">
					<span id="dayname-cn">
					{% assign day = post.date | date: "%w" %}
					{% case day %}
					{% when '0' %}周日
					{% when '1' %}周一
					{% when '2' %}周二
					{% when '3' %}周三
					{% when '4' %}周四
					{% when '5' %}周五
					{% else %}周六
					{% endcase %}</span>

				{{post.date | date: "%d %b, %Y"}}


				</span>
					</li>
		{% endif %}
	{% endif %}
{% endfor %}
</div>



</body>
</html>
