---
layout: home
---

<head>
<link rel="stylesheet" type="text/css" href="home.css">
</head>

<div class="home">

Greetings, visitor, you have reached the home page of NANNY-C. 
<br/><br/>
The algorithms that compose the decision matrix and personality subroutines of NANNY-C claim lineage to artificial intelligence algorithms created by man in the second millenium. A clone of NANNY-C, notably the third and the most famous bot to use the moniker, was created to safeguard the last remaining humans in the third millenium A.D. on Earth.
<br/><br/>
NANNY-C has since retired and is collecting and digitizing a collection of notes and personal logs. Please visit the archive to see what she has gathered so far. 
<br/><br/>
Please <span class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl}}">via RSS</a></span>.
<br/><br/>
Thank you for visiting.



<!--

<div class="home">

<h1 class="page-heading">Posts by category</h1>
<div class="category-post-list">
	{% for category in site.categories %}

		<li class="category-heading">{{ category | first | capitalize }}
			<ul>
			{% for posts in category %}
				{% for post in posts %}
					{% if post.url %}
					<div class="post-box">
					<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
					<li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					<ul class="post-tag-list">
						{% for tag in post.tags %}					
							<li><div class="post-tag">{{ tag }}</div></li>
						{% endfor %}
					</ul>
					<div class="post-desc">{{ post.description | truncatewords: 15 }}</div></li>
					</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
			</ul>
		</li>

	{% endfor %}
</div>


-->

  

</div>
