body {
	background-color: #ddd;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#wrapper{
    border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0 0 8px #aaa;
	padding: 20px;
	background: white;
}

.header{
	text-align: center;
	
}

@media (max-width: 600px){
#wrapper {
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

}