<form method="POST" action="https://api.staticman.net/v2/entry/SplendidStrontium/splendidstrontium.github.io/master">
  <input name="options[redirect]" type="hidden" value="https://splendidstrontium.github.io/splendidstrontium.github.io/thanks">

  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label>Name<input name="fields[name]" type="text"></label>
  <label>E-mail<input name="fields[email]" type="email"></label>
  <label>URL<input name="fields[url]" type="url"></label><br/>
  <label>Message<textarea name="fields[message]"></textarea></label>

  <button type="submit">Go!</button>
</form>
