<form id="gb-post-form" method="POST" action="https://api.staticman.net/v2/entry/SplendidStrontium/splendidstrontium.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="https://splendidstrontium.github.io/splendidstrontium.github.io/thanks">

  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label>Name* : <input name="fields[name]" type="text" size="50" placeholder="Name"></label><br/>
  <label>E-mail : <input name="fields[email]" type="email" size="50" placeholder="E-mail"></label><br/>
  <label>URL : <input name="fields[url]" type="url" size="50" placeholder="URL"></label><br/>
  <label>Message* : <textarea name="fields[message]" rows="5" cols="50" placeholder="a short message..."></textarea></label>

  <button id="gb-post-btn" type="submit">Post</button>
</form>
