.ds-post{ 
	position: relative;
	z-index: 3;
	overflow: hidden;
	border-style: solid;
	border-collapse: collapse;
	border-width: thin medium;
	border-color: #888;
	margin-bottom: 0.5em;
	padding-top: 0.3em;
	padding-left: 0.2em;
	padding-bottom: 0.2em;
	border-radius: 0.1em 1.5em;
    background-color: #d7d7d7;
	list-style-type: none;
}

.ds-link-box{
	width: 60%;
	border-style: solid;
	border-width: 1px;
	border-color: #888;
    border-radius: 0.1em 0.9em;
	font-size: 1.1em;
	background-color: #aaa;
	padding: 0.03em 0.5em;
    margin-bottom: 0.1em;
}

.ds-link-txt{
    display:block;
	position: relative;
	height: 100%;
	width: 100%;
	margin: auto;
}

.ds-tb{
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	max-width: 100px;
}

.ds-desc{
	font-style: italic;
	font-size: 0.9em;
    background-color: #bbb;
	width: 60%;
	margin-top: 0.2em;
	margin-bottom: 1.3em;
	padding-left: 1.4em;
	padding-right: 0.4em;
}

ds-rating{
	font-style: normal !important;
	font-size: 1em;
}

.ds-cata{
    font-family: monospace;
    font-size: 1.1em;
	color: #666;
	position: absolute;
    left: 16em;
    top: 1.3em;
    text-align: right;
}

.ds-tags{
    color: #777;
    font-size: 0.8em;
    text-align: right;
    margin-right: 13em;
}
    

.ds-date{
    width: 9.9em;
	height: 1.5em;
	font-size: 0.9em;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #bbb;
	border-style: solid;
	border-collapse: collapse;
	border-width: thin;
	border-color: #888;
	border-radius: 0.3em 0 0 0;
	padding: 0.1em 0.2em;
	text-align: center;
} 

.ds-nav-box{
	border-top: 4px solid #555;
	border-bottom: 4px solid #555;
}

.ds-nav-link-box{
	background-color: #eee;
	border-left: 7px solid #777;
	border-radius: 4px;
	padding: 0.7em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.ds-nav-link-txt{
	font-size: 1.5em;
}

.ds-nav-prev{
	
}

.ds-nav-next{
	display: flex;
	justify-content: flex-end;
	align-self: center;
}

.ds-nav-prev-desc{
	font-style: italic;
}

.ds-nav-next-desc{
	font-style: italic;
}

@media (max-width: 600px){
#wrapper {
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

}

