<footer class="social-footer">

  <div class="footer-content">

    <div class="social-links">
		<a href="/feed.xml" aria-label="RSS Feed" title="Subscribe to RSS">RSS</a>
		<a href="https://www.youtube.com/channel/UC2GGSbxdmmy-X7c5wyzE38w" target="_blank" aria-label="YouTube Channel" title="Visit our YouTube channel">YouTube</a>
		<a href="https://discord.gg/A5PyBpFvE8" target="_blank" aria-label="Discord Server" title="Join our Discord community">Discord</a>
    </div>
	  
	<div class="contact-info">
		<p>&copy; {{ site.time | date: '%Y' }} {{ site.title | default: site.github.repository_name }}</p>
		<a href="mailto:{{ site.email }}">{{ site.email }}</a>
	</div>

    <div class="site-description">
        <p>{{ site.description }}</p>
    </div>
  </div>

</footer>
