.hm-title{
	text-align: center;
	margin-top: 0.2em;
	margin-bottom: 1.5em;
}

.hm-content{
	margin-bottom: 2em;
}

.hm-nav{
	
}

.hm-nav-prev{
	font-size: 1.4em;
}

.hm-nav-next{
	float: right;
	font-size: 1.4em;
}

