/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../assets/fonts/OpenDyslexic-Regular.otf");
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h4 {
	padding-top: 1em;
	//font-family: monospace;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: #777;
    //font-family: monospace;
    border-left: 7px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 18px;
    letter-spacing: -1px;
    //font-style: italic;

    > :last-child {
        margin-bottom: 0;
       
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.wrapper-wide{
	width: 100%;
	padding: 1em;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.left-cp {
	width: 100px;
}

.chat-box{
	border: 1px solid #888;
	border-radius: 13px;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color:#ddd;
	box-shadow: 5px 3px 5px #555;
}

.chat-portrait {
	width: 100px;
	border-radius: 13px 0px;
}

.ppl-sez{
	padding-bottom: 1em;
	margin-left: 0.5em;
	padding-right: 1em;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * FULL SPECTRUM
 */
 
#fs-instructions:hover {
	background-color:#fff;
}

#fs-hidden-instructions:hover {
	background-color:#fff;
}
 
#fs-playfield {
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	background-color:#ddd;
}

#fs-playfield tr td {
	border:1px solid #000;
	width: 4em;
	height: 4em;
}

#fs-tile-tray {
	display:flex;
	justify-content:center;
	border:2px solid #000;
	background-color:#555;
	width:700px;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	margin-bottom:1em;
}

.fs-tile {
	border:1px solid #000;
	background-color:#222;
	width:70px;
	height:70px;
	align-self:center;
}

/**
 * Concentric Circles 
 */
#cc-canvas {
	border:1px solid #000;
	background-color:#444;
}

#cc-action-bar {
	width: 1500px;
	height: 50px;
	font-size: 1.3em;
	border:1px solid #000;
	background-color:#111;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cc-month-dropdown {
	padding: 0.3em;
}

#cc-day-dropdown {
	padding: 0.3em;
}

#cc-year-txtfield-wrapper {
	padding: 0.3em;
}

#cc-year-txtfield {
	width: 50px;
	text-align: center;
}

#cc-submitbtn {
	padding: 0.3em;
}

#cc-reloadbtn {
	padding: 0.3em;
}

/**
 * Map Generator
 */
 
.mapgen-outer-wrapper{
	max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
   	max-width:         calc(800px - (#{$spacing-unit} * 2));
   	margin-right: auto;
   	margin-left: auto;
   	padding-right: $spacing-unit;
   	padding-left: $spacing-unit;
   	@extend %clearfix;

   	@include media-query($on-laptop) {
   		max-width: -webkit-calc(800px - (#{$spacing-unit}));
		max-width:         calc(800px - (#{$spacing-unit}));
		padding-right: $spacing-unit / 2;
		padding-left: $spacing-unit / 2;
	}
}
 
.mapgen-intro{
	margin: 5px;
}

#mapgen-disp-wrapper {
	padding: 5px;
	background-color:#ddd;
}
 
#mapgen-canvas {
	display: block;
	border:1px solid #000;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	background-color:#eee;
}

#mapgen-results {
	display: block;
	border:1px solid #666;
	padding:10px;
	background-color:#eee;
}

#mapgen-options {
	display: block;
	border:1px solid #666;
	padding:10px;
	background-color:#eee;
}

#mapgen-options-title {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.3em;
}

.mapgen-dropdown{
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

