---
layout: page
title: Resume
menu: main
permalink: /resume/
---

<html>
<head>
<meta charset="utf-8">
<title>PNK</title>
<link rel="stylesheet" type="text/css" href="resume.css">
<script src="jquery-1.11.2.js" type="text/javascript"></script>
</head>

<body>

<div id="wrapper">

<div id="header_row">
	<img id="mypict" src="http://www.gravatar.com/avatar/b4c6ed8a70f34579dcd20e5456627b39" />
	<p id="my_statem">I love data.  There are always things around us to learn, if only we listen well enough.  I am currently working on a number of web projects with the hope of teaching the world (myself included) something new.</p>
</div> <!--end headerrow-->

<table id="skills_tbl">
<thead>
	<tr>
		<th class="lang_list">I write in...</th>
		<th class="plat_list">... on ...</th>
		<th class="help_list">with help from...</th>
	</tr>
</thead>
<tbody>
<tr>
	<td>
		{% for skill in site.data.resume.skills %}
		<ul>{{ skill.name }} </ul>
		{% endfor %}
	</td>
	<td>
		{% for platform in site.data.resume.platforms %}
		<ul>{{ platform.name }} </ul>
		{% endfor %}
	</td>
	<td>
		{% for misc_resource in site.data.resume.misc_resources %}
			{% if misc_resource.url %}
				<ul><a href="{{ misc_resource.url }}">{{ misc_resource.name }}</a> </ul>
			{% else %}
				<ul>{{ misc_resource.name }}</ul>
			{% endif %}
		{% endfor %}
	</td>	
</tr>
</tbody>
<tr>

</tr>
</table> <!-- end skillstbl -->

<div id="past_exp">
{% for position in site.data.resume.positions %}
	<ul>
		<b>{{ position.title }}</b>
		<span> at </span>
			{% if position.url %}
				<a href="{{ position.url }}">{{ position.company }}</a><br/>
			{% else %}
				{{ position.company }}<br/>
			{% endif %}
		{{ position.st_date }} - {{ position.en_date }}<br/>
		{% capture detailist %}
			{% for bullet in position.details %}
				{{ bullet | prepend:' - '}}<br/>
			{% endfor %} 
		{% endcapture %}
		{{ detailist }}
	</ul>
{% endfor %}


</div> <!--end wrapper-->

</body>
</html>
